
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-button {
  background-color: #282c34;
  color: white;
  display: inline-block;
  padding: 5pm 10px;
  margin: 5px;
  text-decoration: none;
  border-radius: 3px; 
  font-size: calc(10px + 2vmin);
}

.title-center {
  align-content: center;
}
.App-button:hover {
  opacity: 15;
  background-color: green;
}
.loading{
  margin: 10px;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  
}
